.states
notes.txt
data/rel18.rar
data/doc
data/
utils/__pycache__/
test.py
logs/
plt.png
_plt.png
__pycache__/
app.py
efficie*
index*
test*
sub*
uploa*
wron*
txt*
evalu*
3gpp*
token*
train_on_3GPP*
qtxt